.container {
    margin: 2rem auto;
    background: linear-gradient(135deg, #A1C4FD, #C2E9FB); 
    height: 500px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
   
  
  }
  

  @media (max-width: 400px) {
    .container {
     width: 80%;
        
    }

      .container img {
      margin: 0 auto;
      margin-left: 5rem;
      width: 100px;
      height: 100px;
      }
    
    

  }
